In [1]:
import pandas as pd

In [45]:
sharks_df = pd.read_excel('GSAF5.xls')

In [46]:
sharks_df.shape

(6970, 23)

In [51]:
sharks_df.columns = sharks_df.columns.str.lower().str.replace(' ','_')

In [53]:
# SE LIMPIA LOS NOMBRES DE LAS COLUMNAS
sharks_df.rename(columns = {'species_': 'species'}, inplace = True)

In [55]:
sharks_df.columns

Index(['date', 'year', 'type', 'country', 'state', 'location', 'activity',
       'name', 'sex', 'age', 'injury', 'unnamed:_11', 'time', 'species',
       'source', 'pdf', 'href_formula', 'href', 'case_number', 'case_number.1',
       'original_order', 'unnamed:_21', 'unnamed:_22'],
      dtype='object')

In [61]:
#ELIMINAMOS LAS COLUMNAS QUE NO NOS SIRVEN PARA EL ESTUDIO 

sharks_df.drop(['name', 'sex', 'age', 'unnamed:_11', 'source', 'pdf', 'href_formula', 'href', 'case_number', 'case_number.1',
       'original_order', 'unnamed:_21', 'unnamed:_22'], axis=1, inplace =True)

In [63]:
sharks_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6970 entries, 0 to 6969
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      6970 non-null   object
 1   year      6968 non-null   float64
 2   type      6952 non-null   object
 3   country   6920 non-null   object
 4   state     6488 non-null   object
 5   location  6405 non-null   object
 6   activity  6384 non-null   object
 7   injury    6935 non-null   object
 8   time      3443 non-null   object
 9   species   3838 non-null   object
dtypes: float64(1), object(9)
memory usage: 544.7+ KB

In [65]:
sharks_df.columns

Index(['date', 'year', 'type', 'country', 'state', 'location', 'activity',
       'injury', 'time', 'species'],
      dtype='object')

In [73]:
# ITERADOR PARA VER LOS VALUE COUNTS DEL DF
for column in sharks_df.columns:
    print(f"Value counts for column: {column}")
    print(sharks_df[column].value_counts())

Value counts for column: date
date
1957           9
1942           8
1958           7
1956           6
No date        6
              ..
11-Aug-2000    1
12-Aug-2000    1
13-Aug-2000    1
15-Aug-2000    1
1845-1853      1
Name: count, Length: 6021, dtype: int64
Value counts for column: year
year
2015.0    143
2017.0    139
2016.0    131
0.0       129
2011.0    128
         ...
1785.0      1
1784.0      1
1783.0      1
1780.0      1
1822.0      1
Name: count, Length: 261, dtype: int64
Value counts for column: type
type
Unprovoked             5132
Provoked                636
Invalid                 552
Watercraft              355
Sea Disaster            242
Questionable             22
Boat                      7
 Provoked                 2
?                         1
Unconfirmed               1
Unverified                1
Under investigation       1
Name: count, dtype: int64
Value counts for column: country
country
USA                   2550
AUSTRALIA             1481
SOUTH AFRICA           597
NEW ZEALAND            144
BAHAMAS                136
                      ...
EGYPT / ISRAEL           1
Jamaica                  1
MEXICO                   1
Seychelles               1
CEYLON (SRI LANKA)       1
Name: count, Length: 234, dtype: int64
Value counts for column: state
state
Florida              1182
New South Wales       521
Queensland            347
Hawaii                341
California            324
                     ...
L'Etang-Sal√©            1
Kowloon Peninsula       1
Port Shelter            1
Laucala Island          1
Moala Island            1
Name: count, Length: 914, dtype: int64
Value counts for column: location
location
New Smyrna Beach, Volusia County         191
Daytona Beach, Volusia County             31
Ponce Inlet, Volusia County               28
Myrtle Beach, Horry County                22
Melbourne Beach, Brevard County           20
                                        ...
Avila Beach, San Luis Obispo County        1
Nhulunbuy                                  1
Bakers Bay                                 1
Near New Smyrna Jetty, Volusia County      1
Below the English fort, Trincomalee        1
Name: count, Length: 4534, dtype: int64
Value counts for column: activity
activity
Surfing                                                     1124
Swimming                                                     984
Fishing                                                      489
Spearfishing                                                 384
Wading                                                       176
                                                            ...
 Diving for abalone (Hookah)                                   1
Swimming underwater from crayfish cage to a fishing bait       1
Ferry capsized                                                 1
Attempting to drag hooked shark ashore by its tail             1
Wreck of  large double sailing canoe                           1
Name: count, Length: 1596, dtype: int64
Value counts for column: injury
injury
FATAL                                                                   863
Foot bitten                                                             100
Survived                                                                 97
No injury                                                                85
Leg bitten                                                               81
                                                                       ...
2 lacerations on each side of Achilles tendon                             1
PROVOKED INCIDENT Hooked shark pulled onboard bit his arm                 1
FATAL          Hip & upper thigh bitten, femoral artery severed           1
Left ankle lacerated                                                      1
FATAL. "Shark bit him in half, carrying away the lower extremities"       1
Name: count, Length: 4100, dtype: int64
Value counts for column: time
time
Afternoon      215
11h00          140
Morning        135
15h00          127
16h00          123
              ...
05h45            1
09h11            1
13h51            1
15h44            1
19h00-20h00      1
Name: count, Length: 423, dtype: int64
Value counts for column: species
species
White shark                                                                                                                      194
Shark involvement prior to death was not confirmed                                                                               105
Invalid                                                                                                                          102
Shark involvement not confirmed                                                                                                   92
Tiger shark                                                                                                                       89
                                                                                                                                ...
"black tipped" shark                                                                                                               1
2 sharks, 4.5 m & 3 m                                                                                                              1
Longfin mako shark, 3.5 m [11.5'], 350-kg [772-lb]                                                                                 1
4.9 m to 5.5 m [16' to 18'] white shark                                                                                            1
Said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable      1
Name: count, Length: 1693, dtype: int64

In [83]:
sharks_df['date'].nunique()

6021

In [85]:
sharks_df['state'].nunique()

914